# Discord bot
BOT_TOKEN=

# Channels
TICKET_CHANNEL=
TICKET_LOG_CHANNEL=

# Database (surf-database)
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Roles
PREMIUM_ROLE_ID=

# LuckPerms API (optional)
LUCKPERMS_URL=
LUCKPERMS_TOKEN=

# Redis
SURF_REDIS_HOST=
SURF_REDIS_PORT=
SURF_REDIS_PASSWORD=
SURF_REDIS_CLIENT_NAME=
