# Required
BOT_TOKEN=
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=discord_bot
DATABASE_USERNAME=
DATABASE_PASSWORD=
TICKET_CHANNEL_ID=

# Optional (leave empty to disable or use the default)
TICKET_LOG_CHANNEL_ID=
WHITELISTED_ROLE_ID=
LUCKPERMS_API_URL=http://localhost:8080
LUCKPERMS_API_TOKEN=
PREMIUM_ROLE_ID=
