# Discord bot
BOT_TOKEN=

# Channels
TICKET_CHANNEL=
TICKET_LOG_CHANNEL=

# Database (surf-database)
DATABASE_TYPE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Roles
WHITELIST_ROLE_ID=
PREMIUM_ROLE_ID=

# LuckPerms API (optional)
LUCKPERMS_URL=
LUCKPERMS_TOKEN=
